{% extends 'base.html.twig' %}

{% block title %}Hello ProduitController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">
		<h1>Page tous les produits ✅</h1>

		{% for produit in produits %}

			<h3>{{produit.nom}}</h3>
			<img src="/uploads/{{produit.photo}}">
			<p>{{produit.descriptif | raw}}</p>
			<a href=" {{path('produitdetails', {'id':produit.id} )}}">Voir le details du produit</a>
		</br>
		<div class="btn btn-primary btn-ajouter" data-name="{{produit.nom}}" data-content="{{produit.descriptif}}" data-img="{{produit.photo}}">Ajouter au panier</div>
	{% endfor %}
</div>
<div class="example-wrapper">
	<h1>Types de jouets</h1>
	<form method="POST" action="/produit" id="formSearch">
		{% for category in listCategory %}

			<input type="radio" class="formCategory" name="btn" value="{{category.id}}">
			<label for="category.id">
				{{category.typedejouet}}
			</label>

		{% endfor %}

		<div class="example-wrapper">
			<h1>Marque</h1>
			{% for marque in marque %}

				<input type="radio" class="formMarque" name="btnMarque" value="{{marque.marque}}">
				<label for="marque.id">
					{{marque.marque}}
				</label>

			{% endfor %}
		</div>
	{% endblock %}
	{% block javascripts %}
		<script src="./js/search.js"></script>
	{% endblock %}
