{% extends 'base.html.twig' %}

{% block title %}Hello HomepageController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">
		<h1>Hello choose your box</h1>

		<a href="{{path('produit')}}" data-value="4" class="box">Box 4 produits</a>
		<a href="{{path('produit')}}" data-value="7" class="box">Box 7 produits</a>
		<a href="{{path('produit')}}" data-value="10" class="box">Box 10 produits</a>
	</div>

	<div class="example-wrapper">
		<h1>Categories</h1>
		{% for category in categoryList %}

			<h3>{{category.typedejouet}}</h3>

		{% endfor %}
	</div>

	<div class="example-wrapper">
		<h1>Nouveautés</h1>
		{% for produit in produitList %}

			<h3>{{produit.nom}}</h3>

		{% endfor %}
	</div>

{% endblock %}
