{% extends 'base.html.twig' %}
{% block body %}

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Tous nos Jouets</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link
		href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
		<!-- CSS only -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
		<link rel="stylesheet" href="css/nav.css">
		<link rel="stylesheet" href="css/card.css">
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="css/caroussel.css">
	</head>


	{% block stylesheets %}{% endblock %}

	{% block title %}{% endblock %}

	<body>
		<div class="modal"></div>


		<div class="row">
			<div class="col-12 annonce">
				<span>
					Bénéficiez de -10% sur nos boxs avec le code
					<span id="noel">NOEL21</span>
				</span>
			</div>
		</div>

		<div class="fond-card-header">
			<div id="carouselExampleIndicators" class="bb__carousel carousel slide" data-bs-ride="carousel">
				<div class="carousel-indicators">
					<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
					<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
					<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
					<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
				</div>
				<div class="carousel-inner">
					<div class="carousel-item active">
						<div class="card-header">
							<div class="container">
								<div class="row justify-content-center">
									<div class="col-sm-12 col-md-5 text-center">
										<img class="logo-header" src="images/logo/logo_bric_et_broc-588x110.svg" alt="">
										<span class="tag-action tag-louez">Louez des jouets</span>
										<p class="tag-line">Pour le bonheur de vos enfants&nbsp;!</p>
										<button type="button" class="btn btn-primary col-12 col-xl-4 mx-auto" data-bs-toggle="modal" data-bs-target="#exampleModal">Abonnement</button>
									</div>
									<div class="d-none d-xxl-block col-5 offset-2 text-center">
										<img src="images/header/header1-396x504.png" width="399" class="d-block" alt="...">
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="carousel-item">
						<div class="card-header">
							<div class="container">
								<div class="row justify-content-center">
									<div class="col-sm-12 col-md-5 text-center">
										<img class="logo-header" src="images/logo/logo_bric_et_broc-588x110.svg" alt="">
										<span class="tag-action tag-libérez">Libérez sa créativité</span>
										<p class="tag-line">Emballages 100% ludiques</p>
										<button type="button" class="btn btn-primary col-12 col-xl-4 mx-auto" data-bs-toggle="modal" data-bs-target="#exampleModal">Abonnement</button>
									</div>
									<div class="d-none d-xxl-block col-5 offset-2 text-center">
										<img src="images/header/header2-570x606.png" width="379" class="d-block w-100" alt="...">
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="carousel-item">
						<div class="card-header">
							<div class="container">
								<div class="row justify-content-center">
									<div class="col-sm-12 col-md-5 text-center">
										<img class="logo-header" src="images/logo/logo_bric_et_broc-588x110.svg" alt="">
										<span class="tag-action tag-plaisir">Faites leurs plaisir</span>
										<p class="tag-line">Achetez moins mes jouez mieux&nbsp;!</p>
										<button type="button" class="btn btn-primary col-12 col-xl-4 mx-auto" data-bs-toggle="modal" data-bs-target="#exampleModal">Abonnement</button>
									</div>
									<div class="d-none d-xxl-block col-5 offset-2 text-center">
										<img src="images/header/header3-531x558.png" width="379" class="d-block w-100" alt="...">
									</div>
								</div>
							</div>
						</div>

					</div>
					<div class="carousel-item">
						<div class="card-header">
							<div class="container">
								<div class="row justify-content-center">
									<div class="col-sm-12 col-md-5 text-center">
										<img class="logo-header" src="images/logo/logo_bric_et_broc-588x110.svg" alt="">
										<span class="tag-action tag-jouets">Plus de 600 jouets</span>
										<p class="tag-line">Découvrez nos nouveautés&nbsp;!</p>
										<button type="button" class="btn btn-primary col-12 col-xl-4 mx-auto" data-bs-toggle="modal" data-bs-target="#exampleModal">Abonnement</button>
									</div>
									<div class="d-none d-xxl-block col-5 offset-2 text-center">
										<img src="images/header/header4-517x561.png" width="379" class="d-block w-100" alt="...">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				</button>
			</div>
		</div>

		<!-- SECTION NOS BOX -->
		<section id="nos-box">
			<div class="container container-xxl">
				<div class="row">
					<div class="col text-center">
						<h2>Nos Box</h2>
						<img class="form-geometric" src="images/geometrie/triangle93x101.png" alt="">

					</div>

				</div>
				<!-- Modal -->
				<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-xl">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							</div>
							<div class="modal-body">
								<div class="row justify-content-center">
									<div class="card-box col-md-4 col-lg-3 text-center">
										<h2>Bric</h2>
										<img class="img-box" src="images/nos_box/4jouets_281x285.jpg" alt="">
										<div class="box-description couleur-box4">
											<h3>Box 4 jouets</h3>
											<p class="price">
												<strong>19,99</strong>€/mois</p>
											<p class="d-none d-xl-block">Découvrez et louez de nouveaux jouets en les ajoutant dans votre box.</p>
											<div class="d-grid">
												<a data-href="{{path('produit')}}" data-value="4" class="box">je m'abonne</a>
											</div>

										</div>
									</div>
									<div class="card-box col-md-4 col-lg-3 text-center">
										<h2>Broc</h2>
										<img class="img-box" src="images/nos_box/7jouets_281x285.jpg" alt="">
										<div class="box-description couleur-box7">
											<h3>Box 7 jouets</h3>
											<p class="price">
												<strong>29,99</strong>€/mois</p>
											<p class="d-none d-xl-block">Découvrez et louez de nouveaux jouets en les ajoutant dans votre box.</p>
											<div class="d-grid">
												<a data-href="{{path('produit')}}" data-value="7" class="box">Box 7 produits</a>
											</div>

										</div>
									</div>
									<div class="card-box col-md-4 col-lg-3 text-center">
										<h2>Bric & Broc</h2>
										<img class="img-box" src="images/nos_box/10jouets_281x285.jpg" alt="">
										<div class="box-description couleur-box10">
											<h3>Box 10 jouets</h3>
											<p class="price">
												<strong>39,99</strong>€/mois</p>
											<p class="d-none d-xl-block">Découvrez et louez de nouveaux jouets en les ajoutant dans votre box.</p>
											<p>
												<div class="d-grid">
													<button type="button" class="btn btn-primary">je m'abonne</button>
												</div>
											</p>
										</div>
									</div>

								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
								<button type="button" class="btn btn-primary">Save changes</button>
							</div>
						</div>
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="card-box col-md-4 col-lg-3 text-center">
						<h2>Bric</h2>
						<img class="img-box" src="images/nos_box/4jouets_281x285.jpg" alt="">
						<div class="box-description couleur-box4">
							<h3>Box 4 jouets</h3>
							<p class="price">
								<strong>19,99</strong>€/mois</p>
							<p class="d-none d-xl-block">Découvrez et louez de nouveaux jouets en les ajoutant dans votre box.</p>
							<div class="d-grid">
								<a data-href="{{path('produit')}}" data-value="4" class="box btn btn-primary">je m'abonne</a>
							</div>
						</div>
					</div>
					<div class="card-box col-md-4 col-lg-3 text-center">
						<h2>Broc</h2>
						<img class="img-box" src="images/nos_box/7jouets_281x285.jpg" alt="">
						<div class="box-description couleur-box7">
							<h3>Box 7 jouets</h3>
							<p class="price">
								<strong>29,99</strong>€/mois</p>
							<p class="d-none d-xl-block">Découvrez et louez de nouveaux jouets en les ajoutant dans votre box.</p>
							<div class="d-grid">
								<a data-href="{{path('produit')}}" data-value="4" class="box btn btn-primary">je m'abonne</a>
							</div>

						</div>
					</div>
					<div class="card-box col-md-4 col-lg-3 text-center">
						<h2>Bric & Broc</h2>
						<img class="img-box" src="images/nos_box/10jouets_281x285.jpg" alt="">
						<div class="box-description couleur-box10">
							<h3>Box 10 jouets</h3>
							<p class="price">
								<strong>39,99</strong>€/mois</p>
							<p class="d-none d-xl-block">Découvrez et louez de nouveaux jouets en les ajoutant dans votre box.</p>
							<p>
								<div class="d-grid">
									<a data-href="{{path('produit')}}" data-value="4" class="box btn btn-primary">je m'abonne</a>
								</div>
							</p>
						</div>
					</div>

				</div>
			</div>
		</body>
	</body>
</section>

<!-- SECTION CONCEPT (comment ça marche?) -->
<section id="concept">
	<div class="container container-xxl">
		<div class="row">
			<div class="col text-center">
				<h2>Comment ça marche ?</h2>

			</div>

		</div>

		<div class="row">

			<div class="row justify-content-center">
				<div class="col-12 col-lg-3 text-center">

					<div class="card-icone">
						<div class="card-icone-visuel">
							<img src="images/icons/concept/icon_selectinnez80x80.jpg" alt="">
							<h3>Sélectionnez</h3>
							<h4>votre abonnement parmis 3 offres</h4>
						</div>

					</div>

				</div>
				<div class="col-12 col-lg-3 text-center" id="flex-ccm">

					<div class="card-icone">
						<div class="card-icone-visuel">
							<img src="images/icons/concept/icon_louez83x69.svg" alt="">
							<h3>Louez</h3>
							<h4>vos jeux parmis 600 référence.</h4>
						</div>

					</div>

				</div>
				<div class="col-12 col-lg-3 text-center" id="flex-ccm">

					<div class="card-icone" id="profiter">
						<div class="card-icone-visuel">
							<img src="images/icons/concept/icon_profitez60x60.png" alt="">
							<h3>Profitez</h3>
							<h4>pendant au moins 6 mois de vos jeux</h4>
						</div>

					</div>

				</div>
				<div class="col-12 col-lg-3 text-center" id="flex-ccm">

					<div class="card-icone" id="recommander">
						<div class="card-icone-visuel">
							<img src="images/icons/concept/icon_recommander.svg" alt="">
							<h3>Recommandez</h3>
							<h4>de nouveaux jeux et renvoyez vos anciens</h4>
						</div>

					</div>

				</div>

			</div>

			<div class="row">
				<button type="button" class="btn btn-primary col-3 mx-auto">Abonnement</button>

			</div>

		</div>


	</section>

	<!-- SECTION CATEGORIES -->
	<section id="categories">

		<div id="carouselExampleIndicators" class="bb__carousel carousel slide" data-bs-ride="carousel">
			<div class="carousel-indicators">
				<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
				<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
				<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
				<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
			</div>
			<div class="carousel-inner">
				<div class="carousel-item active">
					<div class="container">
						<div class="row">
							<div class="col text-center">
								<h2>Catégories</h2>

							</div>

							<div class="row justify-content-center">
								<div class="card-category col-5 col-lg-3">
									<div class="card-category-visuel background-category-eveil">
										<img src="images/vignettes/maison-brick.png" alt="">
									</div>
									<div class="card-category-body">
										<h3>Jeux d'éveil</h3>
									</div>
								</div>
								<div class="card-category col-5 col-lg-3">
									<div class="card-category-visuel background-category-societe">
										<img src="images/vignettes/maison-brick.png" alt="">
									</div>
									<div class="card-category-body">
										<h3>Jeux de société</h3>
									</div>
								</div>
								<div class="card-category col-5 col-lg-3">
									<div class="card-category-visuel background-category-construction">
										<img src="images/vignettes/maison-brick.png" alt="">
									</div>
									<div class="card-category-body">
										<h3>Jeux de construction</h3>
									</div>
								</div>
								<div class="card-category col-5 col-lg-3">
									<div class="card-category-visuel background-category-imitation">
										<img src="images/vignettes/maison-brick.png" alt="">
									</div>
									<div class="card-category-body">
										<h3>Jeux d'imitation</h3>
									</div>
								</div>

							</div>

						</div>

					</div>

				</section>

				<!-- SECTION NOUVEAUTES -->

				<section id="nouveautes">
					<div class="container">
						<div class="row">
							<div class="col text-center">
								<h2>Nouveautés</h2>
								<img class="form-geometric" src="../images/carre.png" alt="">
							</div>
						</div>

						<div class="fond-card-header">
							<div id="carouselExampleIndicators2" class="bb__carousel carousel slide" data-bs-ride="carousel">
								<div class="carousel-indicators">
									<button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
									<button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="1" aria-label="Slide 2"></button>
									<button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="2" aria-label="Slide 3"></button>
								</div>

								<div class="carousel-inner">
									{% set i = 0 %}
									{% set active  = "active" %}
									{% set start = true %}
									{% for produit in produitList %}
										{% if i == 0 %}
											{% if start == false %}
											</div>
										</div>
									</div>
								</div>
							</div>
						{% endif %}
						<div class="carousel-item {{ active }}">
							<div class="card-header">
								<div class="container">
									<div class="row justify-content-center">
										<div class="row">

										{% endif %}

										<div class="col-3">
											<div class="card-product">
												<div class="card-product-visuel">
													<a class="tag-new" href="#">new</a>
													<a class="bt-like" href="#"><img src="../images/icon_like.png" alt=""></a>
													<img src="./uploads/{{produit.photo}}" alt="">

												</div>
												<div class="card-product-body">
													<h3>{{ produit.Nom}}</h3>
													<a class="bt-plus" href="#"><img src="../images/icon_plus32x32.png" alt=""></a>
												</div>
											</div>
										</div>
										{% set active  = "" %}
										{% set i = i + 1 %}
										{% set start = false %}
										{% if i == 4 %}
											{% set i = 0 %}
										{% endif %}

									{% endfor %}
								</div>
							</div>
						</div>
					</div>
				</div>

				<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				</button>
			</div>
		</div>
	</section>


	<!-- SECTION NOS VALEURS -->
	<section id="nosvaleurs">
		<div class="container container-xxl">
			<div class="row">
				<div class="col text-center">
					<h2>Nos Valeurs</h2>

				</div>

			</div>

			<div class="row justify-content-center">
				<div class="col-12 col-lg-3">

					<div class="card-photo text-center">
						<div class="card-photo-visuel">
							<img src="images/valeurs/ludique_et_pedagogique281x285.jpg" alt="">
						</div>
						<div class="card-photo-body">
							<h3>Ludique et pédagogique</h3>
						</div>
					</div>

				</div>
				<div class="col-12 col-lg-3">

					<div class="card-photo text-center">
						<div class="card-photo-visuel">
							<img src="images/valeurs/eco-responsable-282x285.jpg" alt="">
						</div>
						<div class="card-photo-body">
							<h3>Eco-responsable</h3>
						</div>
					</div>

				</div>
				<div class="col-12 col-lg-3">

					<div class="card-photo text-center">
						<div class="card-photo-visuel">
							<img src="images/valeurs/emballage_biodegradable-281x285.jpg" alt="">
						</div>
						<div class="card-photo-body">
							<h3>Emballage biodégradable</h3>
						</div>
					</div>

				</div>

			</div>

		</div>


	</section>

	<!-- SECTION DON DE JOUET -->
	<section id="dondejouet">
		<div class="container container-xxl">
			<div class="row">
				<div class="col-lg-4 text-center">
					<img class="image-dondejouet img-fluid" src="images/don-383x383.jpg" alt="">
				</div>

				<div class="dondejouet-description col-lg-7 offset-xxl-1 text-start">
					<h2>Donner mes jouets</h2>
					<div>
						<p>
							Vos enfants ont grandi&nbsp;? Leurs jouets ne leur plaisent plus&nbsp;?<br>
							Déposez-les dans l'un de nos point relais&nbsp;!
						</p>

						<p>
							Une fois recuillis, vos jouets seront triés, réparé puis ils seront distribués dans nos box&nbsp;!
						</p>

						<p>
							Tous les jouets qui ne peuvent pas être remis en état sont pris en charge par ecosystem pour être dépollués et puis recyclés&nbsp;!
						</p>

						<p>
							En faisant ce geste, vous participez à l’économie circulaire et permettez d’éviter une surproduction de jouets, très consommatrice en énergie&nbsp;!</p>
					</p>
				</div>
				<div class="d-grid col-8 mx-auto">
					<button type="button" class="btn btn-primary">Faire un don</button>
				</div>
			</div>

		</div>


	</div>
</section>


<!-- SECTION TEMOIGNAGES -->
<section id="temoignages">
	<div class="container" id="blocavis">
		<div class="row">

			<div class="col-md-3">

				<div class="card h-100">

					<img src="images/photo_temoignages/pp_edna.jpg" class="card-img-top" alt="...">

					<div class="card-body text-center">
						<div class="">
							<img src="images/icons/icon_etoiles.png" class="card-img-middletop" alt="...">
							<img src="images/icons/icon_etoiles.png" class="card-img-middletop" alt="...">
							<img src="images/icons/icon_etoiles.png" class="card-img-middletop" alt="...">
							<img src="images/icons/icon_etoiles.png" class="card-img-middletop" alt="...">
							<img src="images/icons/icon_etoiles-half.png" class="card-img-middletop" alt="...">
						</div>
						<p class="card-text">"Merci pour ce concept<br>qui a tout son sens&nbsp;!<br>
							J'adore&nbsp;!"</p>
						<h6 class="card-title">
							Edna Louis</h6>
					</div>
				</div>

			</div>

			<div class="col-md-3">

				<div class="card h-100">

					<img src="images/photo_temoignages/pp_edna.jpg" class="card-img-top" alt="...">

					<div class="card-body text-center">
						<div class="">
							<img src="images/icons/icon_etoiles.png" class="card-img-middletop" alt="...">
							<img src="images/icons/icon_etoiles.png" class="card-img-middletop" alt="...">
							<img src="images/icons/icon_etoiles.png" class="card-img-middletop" alt="...">
							<img src="images/icons/icon_etoiles.png" class="card-img-middletop" alt="...">
							<img src="images/icons/icon_etoiles-half.png" class="card-img-middletop" alt="...">
						</div>
						<p class="card-text">"Merci pour ce concept<br>qui a tout son sens&nbsp;!<br>
							J'adore&nbsp;!"</p>
						<h6 class="card-title">
							Edna Louis</h6>
					</div>
				</div>

			</div>

			<div class="col-md-3">

				<div class="card h-100">

					<img src="images/photo_temoignages/pp_edna.jpg" class="card-img-top" alt="...">

					<div class="card-body text-center">
						<div class="">
							<img src="images/icons/icon_etoiles.png" class="card-img-middletop" alt="...">
							<img src="images/icons/icon_etoiles.png" class="card-img-middletop" alt="...">
							<img src="images/icons/icon_etoiles.png" class="card-img-middletop" alt="...">
							<img src="images/icons/icon_etoiles.png" class="card-img-middletop" alt="...">
							<img src="images/icons/icon_etoiles-half.png" class="card-img-middletop" alt="...">
						</div>
						<p class="card-text">"Merci pour ce concept<br>qui a tout son sens&nbsp;!<br>
							J'adore&nbsp;!"</p>
						<h6 class="card-title">
							Edna Louis</h6>
					</div>
				</div>

			</div>

			<div class="col-md-3">

				<div class="card h-100">

					<img src="images/photo_temoignages/pp_edna.jpg" class="card-img-top" alt="...">

					<div class="card-body text-center">
						<div class="">
							<img src="images/icons/icon_etoiles.png" class="card-img-middletop" alt="...">
							<img src="images/icons/icon_etoiles.png" class="card-img-middletop" alt="...">
							<img src="images/icons/icon_etoiles.png" class="card-img-middletop" alt="...">
							<img src="images/icons/icon_etoiles.png" class="card-img-middletop" alt="...">
							<img src="images/icons/icon_etoiles-half.png" class="card-img-middletop" alt="...">
						</div>
						<p class="card-text">"Merci pour ce concept<br>qui a tout son sens&nbsp;!<br>
							J'adore&nbsp;!"</p>
						<h6 class="card-title">
							Edna Louis</h6>
					</div>
				</div>

			</div>

		</div>

	</section>


	<!-- JavaScript Bundle with Popper -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
	<script>
		var myCarousel = document.querySelector('#carouselExampleIndicators');

var carousel = new bootstrap.Carousel(myCarousel, {
interval: false,
wrap: false
})
	</script>
</body>{% endblock %}
